.whyustemp {
    min-height: calc(100vh - 12vh - 16vh);
}

.shopname {
    display: flex;
    width: 100vw;
    /* height: 28px; */
    justify-content: center;
    font-size: 26px;
    font-weight: 1000;
    height: 28px;

    /* background: green; */
}

.foot {

    /* background: green; */
    height: 16vh;
    display: flex;

}

.locationlogo img {
    height: 15px;
    width: 15px;
}

.adress p {
    width: 306px;
    font-size: 12px;
}

.contact {
    padding-left: 151px;
}

.contact2 {

    padding-left: 30px;

}

.contact p,
.contact2 p {
    padding-top: 6px;
}

.contact img,
.contact2 img {
    height: 15px;
    width: 15px;
}

.tandc {

    padding-left: 105px;
}

.scanner {
    padding-left: 135px;
}

.scanner img {
    height: 81px;
    width: 81px;
}

/* ..................................................................... . */
.cakemaking,
.cakedetail,
.customize,
.service {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70vw;
    margin: auto;
    padding: 9px 0px;
}

.cakemakingimg,

.customizeimg
 {
    display: flex;
    height: 182px;
    width: 661px;
    overflow: hidden;
}

.cakedetailimg,

.serviceimg {
    display: flex;
    height: 182px;
    width: 489px;
    overflow: hidden;
}


.cakemakingmssg,
.customizemssg{
display: flex;
/* width: 481px; */
padding: 11px 0px;
flex-direction :column;
text-align :left;
margin: 35px;
}

.cakedetailmssg,
.servicemssg {
    display: flex;
    /* width: 481px; */
    padding: 11px 0px;
    flex-direction: column;
    text-align: right;
    margin: 38px;
}